:root {
  --bg-image-start: url("../img/startGame-bg.png");
  --bg-image-end: url("../img/finishGame-bg.png");
  --bg-image-lv1: url("../img/1/bg.jpg");
  --bg-image-lv2: url("../img/2/bg.jpg");
  --bg-image-lv3: url("../img/3/bg.jpg");
  --bg-image-lv4: url("../img/4/bg.jpg");
  --bg-image-lv5: url("../img/5/bg.jpg");

  --char-image-lv1: url("../img/1/img.jpg");
  --char-image-lv2: url("../img/2/img.jpg");
  --char-image-lv3: url("../img/3/img.jpg");
  --char-image-lv4: url("../img/4/img.jpg");
  --char-image-lv5: url("../img/5/img.jpg");

  --gradient-btn-background: linear-gradient(to right, #fde7ea, #cc868f);

  font-size: 16px;
  font-family: PoppinsRegular;
}

@font-face {
  font-family: PoppinsMedium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: PoppinsRegular;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: PoppinsSemibold;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

* {
  transition: all 0.2s,
}

.gameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1% 5%;
  background-image: var(--bg-image-start);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.gameBtn {
  background-image: var(--gradient-btn-background);
  padding: 12px 24px;
  font-size: 1.3rem;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 5px 6px black;
  transition: all 0.2s;
}

.gameBtn:hover {
  cursor: pointer;
  background-image: none;
  background-color: #fde7ea;
  box-shadow: 2px 3px black;
  color: #000000;
}

.gameBtn:active {
  box-shadow: none;
  background-color: #cc868f;
}

.gameInp {
  padding: 10px;
  border: 1px solid #000;
  width: 40%;
  min-width: 400px;
  font-size: 1.2rem;
}

.gameInp ::placeholder {
  font-family: PoppinsRegular;
}

.gameSection {
  background: #ddffffbb;
  padding: 5%;
  border-radius: 30px;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.registrationForm__inpWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
}

.registrationForm__inpTip {
  color: rgb(233, 0, 0);
  font-size: 0.7rem;
}

.app {
  position: relative;
  height: 95vh;
  width: 95%;
  min-width: 500px;
}

.app__scoreWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 2%;
}

.app__currentLvlProgress {
  width: 300px;
}

.app__startGame {
  position: absolute;
  top: 35%;
  left: 45%;
}

.app__characterWrapper {
  width: 95%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.app__character {
  height: 60vh;
  width: 500px;
  background-image: url("../img/1/img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.app__character:hover {
  cursor: pointer;
}

.result__section {
  position: absolute;
  top: 30%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 30vh;
  gap: 40px;
  font-family: PoppinsSemibold;
  font-size: 2rem;
}

.gitLink {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 1rem;
  opacity: 0.5;
}

.gitLink:hover {
  opacity: 1;
}

.hidden {
  display: none;
}